<div class="card bg-gray">
    <div class="card-block">
        <h4 class="card-title">Action Items</h4>
        <button (click)="changeCollapseSign()" class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapseActionItems"
            aria-expanded="false" aria-controls="collapseActionItems">
            <i [ngClass]="collapseSign" class="fa" aria-hidden="true"></i>
        </button>
    </div>
    <div class="collapse show" id="collapseActionItems">
        <ul class="list-group list-group-flush bg-gray">
            <li *ngFor="let actionItem of actionItems" class="list-group-item bg-gray">
                <div *ngIf="actionItem.done" class="done">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>{{ actionItem.text }}
                </div>
                <div *ngIf="!actionItem.done">
                    <a routerLink="actionItem.url">
                        <i class="fa fa-square-o" aria-hidden="true"></i>{{ actionItem.text }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>