/**
 * section-1-to-5.component.scss - Version 1.0.0
 * 
 * Section 1 to 5 Style
 * 
 * @author Ruben Jimenez
 */

 .list_questions {
    list-style: none;
    margin: 0;
    padding: 0;            

    li:not(:first-child) {
        margin: 0 0 40px 0;       
    }

    li:not(.li_header):hover {
        background: #f0f0f0;
    }
 }

.row, p {
    margin: 0;
    padding: 0;
}

.score_value {
     width: 20%;
     display: inline-block;
     font-size: 0.5rem;
     margin: 0;
     padding: 0
 }
 
.form-check-inline {
    margin-top: 20px;
}