<app-collapsable-card title="{{ mentor.firstName }} {{ mentor.lastName }}" collapseState="show">
  <div class="row" *ngIf="mentees">
    <ul *ngFor="let m of mentees">
      <li>{{m.firstName}} {{m.lastName}}</li>
    </ul>
  </div>
  <div class="row ml-3 mb-3">
    <form #menteeForm="ngForm" class="form-inline">
      <div class="form-group">
        <ng-template #resultTemplateRef let-r="result" let-t="searchTerm">
          {{r.firstName}} {{r.lastName}} ({{r.email}})
        </ng-template>
        <input name="typeaheadMentee" #typeaheadMentee type="text" placeholder="Mentee" class="form-control"
               [(ngModel)]="mentee" [resultTemplate]="resultTemplateRef"
               [inputFormatter]="formatter" [ngbTypeahead]="searchTerm" required/>
      </div>
      <div class="form-group">
        <div class="col-3 text-right">
          <button (click)="addMentee(mentee, menteeForm)" class="btn btn-add btn-sm" placement="top" ngbTooltip="Add Mentee">+</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div *ngIf="typeaheadMentee.errors && (typeaheadMentee.dirty || typeaheadMentee.touched)"
               class="alert alert-danger">
            <ul class="list_errors">
              <li *ngIf="typeaheadMentee.errors.required">
                Please select an employee.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-collapsable-card>

