<ul class="list_mentees">
  <li *ngIf="mentees && mentees.length <= 0">
    <i>No mentees were found</i>
  </li>
  <li *ngFor="let mentee of mentees">
    <app-collapsable-card title="{{ mentee.firstName }} {{ mentee.lastName }}" collapseState="hide">
      <div class="mentee_information">
        <p class="mentee_job">{{ mentee.jobLevel.name }} {{ mentee.jobLevel.jobFamily.name }}</p>
        <h2>References</h2>
        <ul class="list_references">
          <li *ngIf="!menteeRelationshipsMap[mentee.id] || menteeRelationshipsMap[mentee.id] && menteeRelationshipsMap[mentee.id].length <= 0">
            <i>No references were found</i>
          </li>
          <li class="li__header" *ngIf="menteeRelationshipsMap[mentee.id] && menteeRelationshipsMap[mentee.id].length > 0">
            <div class="row">
              <div class="col-1">
              </div>
              <div class="col-5 text-left">
                <p>Reference name</p>
              </div>
              <div class="col-3 text-left">
                <p>Relationship type</p>
              </div>
              <div class="col-3 text-right">
                <p>Reference Since</p>
              </div>
            </div>
          </li>
          <li *ngFor="let relationshipType of menteeRelationshipsMap[mentee.id]">
            <ng-template #deleteConfirmation let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Delete confirmation</h4>
                <button type="button" class="close" aria-label="Close" (click)="d()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete {{ relationshipType.referred.firstName }} {{ relationshipType.referred.lastName }}
                  from the reference list?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="d()">Cancel</button>
                <button type="button" class="btn btn-outline-primary" (click)="c(mentee.id)">Confirm</button>
              </div>
            </ng-template>
            <div class="row">
              <div class="col-1 text-left">
                <button (click)="deleteMenteeReference(deleteConfirmation, mentee, relationshipType)"
                        class="btn btn-delete btn-sm mr-1" ngbTooltip="Delete Mentee Reference">&times;</button>
              </div>
              <div class="col-5 text-left">
                <p>{{ relationshipType.referred.firstName }} {{ relationshipType.referred.lastName }}</p>
              </div>
              <div class="col-3 text-left">
                <p>{{ relationshipType.relationshipType.name }}</p>
              </div>
              <div class="col-3 text-right">
                <p>{{ relationshipType.startDate | date:'d-MMM-y' }}</p>
              </div>
            </div>
          </li>
          <app-add-mentee-reference *ngIf="menteeRelationshipsMap[mentee.id]" [mentee]="mentee" [menteeRelationships]="menteeRelationshipsMap[mentee.id]">
          </app-add-mentee-reference>
        </ul>
      </div>
    </app-collapsable-card>
  </li>
</ul>
