/**
 * add-mentee-reference.component.scss - Version 1.0.0
 * 
 * Add Mentee Reference Style
 * 
 * @author Ruben Jimenez
 */

.btn-add {
    background: #28a745;
    color: white;
    padding: 6px;
    line-height: 17px;
    font-size: 17px;
    height: 31px;
    width: 31px;
    border-radius: 25%;
    border: 0px;

    &:hover {
        cursor: pointer;
    }
}

.row {
    margin: 0;
}

.ng-valid[required], .ng-valid.required  {
    border: 1px solid #42A948; 
}

.ng-invalid:not(form) {
    border: 1px solid #a94442; 
}
