<div class="row">
  <div class="col-xs-12 col-lg-8 ml-lg-auto mr-lg-auto">
    <h1>Mentee Management</h1>
    <div class="row">
      <div class="col-5 text-left">
        <div class="mr-2 mb-2">
          <app-search-employee (onEmployeeSelected)="setMentor($event)"></app-search-employee>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 text-left">
        <div class="mr-2" *ngIf="mentor">
          <app-add-mentees [mentor]="mentor"></app-add-mentees>
        </div>
      </div>
    </div>
  </div>
</div>
