<nav class="navbar navbar-expand-md navbar-light bg-white">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/employeeDashboard" href="#">
      <img class="app-logo" src="../../assets/logo.jpg" alt="Logo"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" routerLink="/employeeDashboard">
                <a class="nav-link">Employee</a>
            </li>
            <li *ngIf="menuService.isMentoringDashboardEnabled()" class="nav-item" routerLinkActive="active"
                routerLink="/mentoringDashboard">
                <a class="nav-link">Mentoring</a>
            </li>
            <li *ngIf="menuService.isAppraisalDashboardEnabled()" class="nav-item" routerLinkActive="active"
                routerLink="/appraisalDashboard">
                <a class="nav-link">Appraisal</a>
            </li>
        </ul>
    </div>
</nav>
