/**
 * evaluation-form-view.component.scss - Version 1.0.0
 * 
 * Evaluation Form View Style
 * 
 * @author Ruben Jimenez
 */

.list_sections {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0 0 40px 0;
        padding: 0;
    }
}