<ul class="list-group list-group-flush bg-gray">
    <li class="list-group-item bg-gray">
        <p>
            <strong>Job Family</strong><br/>
            <span *ngIf="getEmployeeJobFamily();else unassigned">{{ getEmployeeJobFamily() }}</span>
        </p>
    </li>
    <li class="list-group-item bg-gray">
        <p>
            <strong>Level</strong><br/>
            <span *ngIf="getEmployeeJobLevel();else unassigned">{{ getEmployeeJobLevel() }}</span>
        </p>
    </li>
    <li class="list-group-item bg-gray">
        <p>
            <strong>Mentor</strong><br/>
            <span *ngIf="mentor;else unassigned">{{mentor.firstName}} {{ mentor.lastName}}</span>
        </p>
    </li>
</ul>
<ng-template #defaultTitle>Employee</ng-template>
<ng-template #unassigned>Unassigned</ng-template>