/**
 * employee-summary.component.scss - Version 1.0.0
 * 
 * Employee Summary Component Style.
 * 
 * @author Ruben Jimenez
 */

.card {
    position: relative;
}

button.btn-collapse {
    position: absolute;
    top: 5px;
    right: 5px;

    margin: 2px;
    padding: 0px;
    height: 12px;
    width: 12px;
    background-color: rgba(0,0,0,0);
    color: gray;
    border: none;

    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}

.list-group-item > p {
    margin: 0;
}

