/**
 * mentee-summary.component.scss - Version 1.0.0
 * 
 * Mentee Summary Style
 * 
 * @author Ruben Jimenez
 */



.list_mentees, .list_references {
    list-style-type: none;
    padding: 0px;
}

.list_references li {
    padding: 5px;
    margin: 5px 0;
}

.li__header p {
    color: #213e7f;
}

.list_references li:not(.li__header):hover {
    background: #f0f0f0;
}

li + li {
    margin-top: 0px;
}

.mentee_information {
    padding: 10px 20px 20px 20px;
}

.mentee_name {
    color: black;
    font-size: 1.1rem;
}

.btn-delete {
    background: #dc3545;
    color: white;
    padding: 2px;
    margin: 2px;
    line-height: 15px;
    font-size: 15px;
    height: 21px;
    width: 21px;
    border-radius: 25%;
    border: 0px;

    &:hover {
        cursor: pointer;
    }
}

.row, p {
    margin: 0;
}
