<app-collapsable-card title="{{ appraisal.name }}" collapseState="show">
  <div class="appraisal_detail">
    <p class="appraisal_description">{{ appraisal.description }}</p>
    <p class="appraisal_dates">From: {{ appraisal.startDate | date:'d-MMM-y' }} to: {{ appraisal.endDate | date:'d-MMM-y' }}</p>
    <h2>Feedback requests</h2>
    <ul class="list_feedback">
      <li *ngIf="!employeeEvaluationForms">
        <i>No feedback references for this appraisal</i>
      </li>
      <li class="li__header">
        <div class="row">
          <div class="col-3 text-left">
            <p>Employee</p>
          </div>
          <div class="col-3 text-right">
            <p>Request Date</p>
          </div>
          <div class="col-3 text-right">
            <p>Submit Date</p>
          </div>
          <div class="col-3 text-right">
          </div>
        </div>
      </li>
      <li *ngFor="let employeeEvaluationForm of employeeEvaluationForms">
        <div class="row">
          <div class="col-3 text-left">
            <p>
              {{ employeeEvaluationForm.employee.firstName }} {{ employeeEvaluationForm.employee.lastName }}
              <span *ngIf="employeeEvaluationForm.employee.id === employeeEvaluationForm.filledByEmployee.id">(Self)</span>
              <span *ngIf="employeeEvaluationForm.filledByEmployee.id === employeeEvaluationForm.mentor.id">(Mentor)</span>
            </p>
          </div>
          <div class="col-3 text-right">
            <p>{{ employeeEvaluationForm.createDate | date:'d-MMM-y' }}</p>
          </div>
          <div class="col-3 text-right">
            <p *ngIf="employeeEvaluationForm.submitDate;else noSubmitDate">{{ employeeEvaluationForm.submitDate | date:'d-MMM-y' }}</p>
            <ng-template #noSubmitDate>Pending</ng-template>
          </div>
          <div class="col-3 text-right">
            <button *ngIf="employeeEvaluationForm.employee.id === employeeEvaluationForm.filledByEmployee.id" class="btn btn-fill" (click)="evaluationFormClick(appraisal, employeeEvaluationForm.employee, employeeEvaluationForm.evaluationFormId)">Fill</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</app-collapsable-card>
