/**
 * collapsable-card.component.scss - Version 1.0.0
 * 
 * Collapsable Card Style
 *
 * @author Ruben Jimenez
 */

.card {
    margin: 0;
}

.card-body {
    padding: 0px;
}

.card-title {
    padding: 20px;
    margin: 0;
    
    &:hover {
        cursor: pointer;
        background: #f5f5f5;
    }
}

/**
.collapsable {
    overflow: hidden;    
}
**/

.btn.btn-collapse {
    float: right;

    margin: 2px;
    padding: 0px;
    height: 12px;
    width: 12px;
    background-color: rgba(0,0,0,0);
    color: #292b2c;
    border: none;

    font-size: 12px;

    &:hover {
        cursor: pointer;
    }
}